<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="#">Big Data Connection</a></h1>
      <p> Implemenation ..</p>
    </div>
    <div class="fl_right">
      <ul>
        <li><%= link_to "Home", bdcs_index_path, :alt => "Home" %></li>
        
        <li><%= link_to "Contact us", bdcs_index_path, :alt => "Contact us" %></li>
        <li><%= link_to "Login", bdcs_index_path, :alt => "Login" %></li>
        <li class="last"><%= link_to "Register", bdcs_index_path, :alt => "Register" %></li>
      </ul>
      <form action="#" method="post" id="sitesearch">
        <fieldset>
          <strong>Search:</strong>
          <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="image" src="assets/search.gif" id="search" alt="Search" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>
        <li class="active"> <%= link_to "Home", bdcs_index_path, :alt => "Home" %></li>
        <li > <%= link_to "Courses", bdcs_Courses_path, :alt => "Courses" %></li>
        <li > <%= link_to "Downloads", bdcs_Downloads_path, :alt => "Downloads" %></li>
        <li > <%= link_to "Resources", bdcs_Resources_path, :alt => "Resources" %></li>
        
        
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="featured_slide" class="clear">
    <!-- ###### -->
    <div class="overlay_left"></div>
    <div id="featured_content">
      <div class="featured_box" id="fc1"><img src="assets/demo/slider/1.gif" alt="" />
        <div class="floater">
          <h2>Easy and Affordable
            Learning Hadoop and other Big Data technologies has never been more affordable! </h2>
          <p>Acquire valuable skills and get updated about industry's latest trends right here. </p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc2"><img src="assets/demo/slider/2.gif" alt="" />
        <div class="floater">
          <h2>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</h2>
          <p></p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc3"><img src="assets/demo/slider/3.gif" alt="" />
        <div class="floater">
          <h2>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</h2>
          <p>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc4"><img src="assets/demo/slider/4.gif" alt="" />
        <div class="floater">
          <h2>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</h2>
          <p>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
      <div class="featured_box" id="fc5"><img src="assets/demo/slider/5.gif" alt="" />
        <div class="floater">
          <h2>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</h2>
          <p>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </div>
      </div>
    </div>
    <ul id="featured_tabs">
      <li><a href="#fc1">All About The Big Data Connection</a></li>
      <li><a href="#fc2">Why Big Data Connection</a></li>
      <li><a href="#fc3" >Experience</a></li>
      <li><a href="#fc4">Partners</a></li>
      <li class="last"><a href="#fc5">Latest News &amp; Events</a></li>
    </ul>
    <div class="overlay_right"></div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
          <h2>Certificates</h2>
          <div class="imgholder"><a href="#"><img src="assets/demo/220x80.gif" alt="" /></a></div>
          <h2>Current Students</h2>
          <div class="imgholder"><a href="#"><img src="assets/demo/220x80.gif" alt="" /></a></div>
          <h2>International Students</h2>
          <div class="imgholder"><a href="#"><img src="assets/demo/220x80.gif" alt="" /></a></div>
          <h2>Alumni</h2>
          <div class="imgholder"><a href="#"><img src="assets/demo/220x80.gif" alt="" /></a></div>
        </div>
        <!-- ###### -->
        <div id="latestnews">
          <h2>Latest News &amp; Events</h2>
          <ul>
            <li class="clear">
              <div class="imgl"><img src="assets/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!.</a></p>
                <p>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</a></p>
              </div>
            </li>
            <li class="clear">
              <div class="imgl"><img src="assets/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</a></p>
                <p>Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</p>
              </div>
            </li>
            <li class="last clear">
              <div class="imgl"><img src="assets/demo/imgl.gif" alt="" /></div>
              <div class="latestnews">
                <p><a href="#">Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</a></p>
                <p> Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!</p>
              </div>
            </li>
          </ul>
          <p class="readmore"><a href="#">Click here to view all of the latest news and events &raquo;</a></p>
        </div>
        <!-- ###### -->
        <div id="right_column">
          <div class="holder">
            <h2>Virtual Tour</h2>
            <a href="#"><img src="assets/demo/video.gif" alt="" /></a> </div>
          <div class="holder">
            <h2>Quick Information</h2>
            <div class="apply"><a href="#"><img src="assets/demo/100x100.gif" alt="" /> <strong>Make An Application</strong></a></div>
            <div class="apply"><a href="#"><img src="assets/demo/100x100.gif" alt="" /> <strong>Order A Prospectus</strong></a></div>
          </div>
        </div>
        <!-- ###### -->
      </div>
      <!-- ####################################################################################################### -->
      <div id="twitter" class="clear">
        <div class="fl_left"><a href="#">Follow Us On Twitter</a></div>
        <div class="fl_right">Latest industry trends 
Acquire valuable skills and get updated about industry's latest trends right here. Today!<a href="#">@name</a> - 10:15 AM yesterday</div>
      </div>
      <!-- ####################################################################################################### -->
      
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div class="rnd">
    <div id="footer" class="clear">
      <!-- ####################################################################################################### -->
      <div class="fl_left clear">
        <div class="fl_left center"><img src="assets/demo/worldmap.gif" alt="" /><br />
          <a href="#">Find Us With Google Maps &raquo;</a></div>
        <address>
        Address Line 1<br />
        Address Line 2<br />
        Town/City<br />
        Postcode/Zip<br />
        <br />
        Tel: xxxx xxxx xxxxxx<br />
        Email: <a href="#">contact@Bigdataconnection.com</a>
        </address>
      </div>
      
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">Big Data Connection</a></p>
    
  </div>
</div>
</body>
